{% extends 'base.html' %}

{% block body%}
<main>
    <div class="login">
        <div class="top">
            <h1>Login</h1>
            <p>Dont have an account? <a href="/">Sign up</a></p>
        </div>
        <form class="form" action="/login" method="POST">
            {{ form.hidden_tag() }}
            {{ form.email(id='email', placeholder='Email')}}

            {{ form.password(id='password', placeholder='Password') }}
            {{ form.submit(id='submit-button') }}
        </form>
    </div>
</main>
{% endblock %}
